{% extends "blog/base.html" %}
{% block content %}
<h3>About Page</h3>
<p class='text-muted'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aliquid sapiente sint, hic illum
    blanditiis! Deleniti
    quaerat iure aut laborum deserunt a magni doloremque harum! Molestiae quae doloribus a minus?</p>
<p class='text-muted'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aliquid sapiente sint, hic illum
    blanditiis! Deleniti
    quaerat iure aut laborum deserunt a magni doloremque harum! Molestiae quae doloribus a minus?</p>
<p class='text-muted'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aliquid sapiente sint, hic illum
    blanditiis! Deleniti
    quaerat iure aut laborum deserunt a magni doloremque harum! Molestiae quae doloribus a minus?</pclass='text-muted'>
    <p class='text-muted'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aliquid sapiente sint, hic illum
        blanditiis! Deleniti
        quaerat iure aut laborum deserunt a magni doloremque harum! Molestiae quae doloribus a minus?</p>
    {% endblock content %}